<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
	<title>{{ metaTitle }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
  </head>
  <body>
	  <div class="container">
	        <div class="header clearfix">
	          
	          <h1>{{ title|default('FKPKT') }}</h1>
	        </div>
    {% block body %}

		{{ content|raw }}

	{% endblock body %}

	</div>
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
  </body>
</html>